# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#local_settings
docker-compose.override.yml
docker/nginx.dev.conf
