asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
django-storages==1.14.6
gunicorn==25.1.0
packaging==26.0
Pillow==11.2.1
psycopg==3.3.3
psycopg-binary==3.3.3
boto3==1.40.61
python-dotenv==1.2.2
sqlparse==0.5.5
whitenoise==6.12.0
