---
import { getApiOrigin } from '../../lib/api-origin'

export const prerender = false

const { slug } = Astro.params
const apiBase = new URL('/api/', getApiOrigin(Astro))

const response = await fetch(new URL(`productos/${slug}/`, apiBase))

if (response.ok) {
  const producto = await response.json()
  const coleccionSlug = producto?.coleccion_slug
  if (coleccionSlug) {
    return Astro.redirect(`/productos/coleccion/${coleccionSlug}/${slug}/`, 301)
  }
}
---

<p>Redirigiendo...</p>
